.button {
    background-color: #B3D9DD;
    border: none;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    color: #4C9AA0;
    margin: 32px auto;
    font-style: normal;
    line-height: 22px;
    align-items: center;
    text-align: center;
    min-width: 150px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.button:hover {
    color: #356E73;
}

.button .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #4C9AA0;
    cursor: auto;
}

.button .loading:hover {
    color: #4C9AA0;
}