.menu, .menu .menu-img {
    height: 100%;
}

.menu .menu-img, .option, .item {
    cursor: pointer;
}

.menu .menu-options, .items-usuario,
.items-livro {
    display: block;
    list-style: none;
    position: absolute;
    border-radius: 10px;
    text-align: center;
}

.menu .menu-options {
    right: 55px;
    top: 30px;
    padding: 10px;
    background-color: #A3C7C9;
}

.menu .items-usuario,
.items-livro {
    right: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: #356E73;
}

.menu .items-usuario {
    top: 40px;
}

.menu .items-livro {
    top: 70px;
}

.menu .option, .item {
    padding: 3px;
}

.menu .option:hover {
    color: #356E73;
}

.menu .item:hover {
    color: #A3C7C9;
}