.menu, .menu .menu-img {
    height: 100%;
}

.menu .menu-img, .option, .item {
    cursor: pointer;
}

.menu .menu-options, .items-usuario,
.items-livro {
    display: block;
    list-style: none;
    position: absolute;
    border-radius: 10px;
    text-align: center;
}

.menu .menu-options {
    right: 55px;
    top: 30px;
    padding: 10px;
    background-color: #A3C7C9;
}

.menu .items-usuario,
.items-livro {
    right: 240px;
    padding: 5px;
    border-radius: 10px;
    background-color: #9FD5D8;
}

.menu .items-usuario {
    top: 30px;
}

.menu .items-livro {
    top: 80px;
}

.menu .option, .item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 5px;
}

.menu .option:hover, .item:hover {
    color: #356E73;

    .option-img, .item-img {
        background-color: #356E73;
    }
}

.menu .option-img, .item-img {
    height: 100%;
    border-radius: 30px;
    padding: 2px;
    margin-right: 3px;
}