.user-card {
    background-color: #7EBDC2;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    min-width: 300px;
    min-height: 170px;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.user-card:hover {
    .bottom, .edit{
        visibility: visible;
    }
}

.user-card h1 {
    color: #356E73;
    cursor: pointer;
    width: max-content;
    margin: 0 auto;
}

.user-card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    visibility: hidden;
    height: 30px;
    width: 100%;
}

.user-card .edit {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    height: 30px;
    visibility: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.user-card .edit:hover {
    background-color: #356E73;
}

.user-card .delete {
    padding: 3px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.user-card .delete:hover {
    background-color: #ff3636;
}