/* CORES
    Alert:
        Fundo: 
            #F7C24A (Amarelo vibrante) - Chama a atenção para o erro ou mensagem de alerta.

        Título do Alerta: 
            #356E73 (Verde escuro) - Contraste forte com o fundo do alerta.

        Texto do Alerta: 
            #7EBDC2 (Verde claro) - Suave, mas ainda legível.

        Botão de Fechar:
            Cor Normal: 
                #356E73 (Verde escuro) - Para manter consistência com o título.

            Hover do Botão de Fechar: 
                #FF0000 (Vermelho) - Um destaque bem claro, típico para ações de fechar ou cancelar.
*/

.alert {
    position: fixed;
    bottom: 70px;
    left: 15px;
    padding: 0px 8px 8px 8px;
    border-radius: 10px;
    display: block;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease;
    background-color: #F7C24A;
    max-width: 600px;
    min-width: 250px;
    text-align: center;
}

@keyframes slideDown {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.alert .alert-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.alert .alert-tittle {
    color: #356E73;
    font-size: 23px;
    word-break: break-all;
    margin: 0px;
}


.alert .alert-img {
    width: 35px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 7px;
}

.alert-img:hover {
    background-color: #FF0000;
}

.alert .alert-message {
    color: #7EBDC2;
    font-size: 17px;
    word-break: break-all;
}