.alert {
    position: fixed;
    bottom: 70px;
    left: 15px;
    padding: 0px 8px 8px 8px;
    border-radius: 10px;
    display: block;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease;
    background-color: #356E73;
    max-width: 600px;
    min-width: 250px;
    text-align: center;
}

@keyframes slideDown {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.alert .alert-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.alert .alert-tittle {
    color: #FFFFFF;
    font-size: 23px;
    word-break: break-all;
    margin: 0px;
}


.alert .alert-img {
    width: 35px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 7px;
}

.alert-img:hover {
    background-color: #4C9AA0;
}

.alert .alert-message {
    color: #FFFFFF;
    font-size: 17px;
    word-break: break-all;
}