.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background-color: #7EBDC2;
    position: relative;
    padding: 5px;
}

.header .logo-img {
    height: 100%;
}